<%- include('../includes/header.ejs') %>

  <div class="maincontent">
    <div class="maincontent__header maincontent__header--spaceBetweeen">
      <div class="maincontent__header--row">
        <a href="/admin" class="maincontent__backarrow"></a>
        <h1>Tipos de Processos</h1>
      </div>
      <% if(listaTipologias.length> 0){ %>
        <div class="buttonsBar">
          <a href="/admin/adicionarTipologia" class="btn btn__primary">Adicionar</a>
        </div>
      <% } %>
    </div>

    <% if(listaTipologias.length > 0){ %>
      <table class="table">
        <tr>
          <th>Designação</th>
          <th></th>
        </tr>
      <% for(tipologia of listaTipologias){ %>
        <tr>
          <td><%= tipologia.designacao %></td>
          <td align="right">
            <span class="table__actionButtons">
              <a href="/admin/editarTipologia/<%= tipologia.tipologiaId %>" class="table__actionButtons--button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="editIcon">
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M12.9 6.858l4.242 4.243L7.242 21H3v-4.243l9.9-9.9zm1.414-1.414l2.121-2.122a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414l-2.122 2.121-4.242-4.242z" />
                </svg>
              </a>
              <a class="table__actionButtons--button tipologia__deleteBtn" data-tipologia="<%= tipologia.designacao %>" data-tipologiaid="<%= tipologia.tipologiaId %>">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="deleteIcon">
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path d="M7 4V2h10v2h5v2h-2v15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V6H2V4h5zM6 6v14h12V6H6zm3 3h2v8H9V9zm4 0h2v8h-2V9z" />
                </svg>
              </a>
            </span>
          </td>
        </tr>
      <% } %>
      </table>
    <% } else { %>
      <div class="no-content__wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="no-content__icon">
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            d="M20 22H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1zm-1-2V4H5v16h14zM8 7h8v2H8V7zm0 4h8v2H8v-2zm0 4h8v2H8v-2z" />
        </svg>
        <p class="no-content__text">Não existem tipos de processo registados</p>
        <a href="/admin/adicionarTipologia" class="btn btn__primary">Adicionar Tipo de Processo</a>
      </div>
    <% } %>
  </div>

<script src="/js/admin.js"></script>
<%- include('../includes/footer.ejs') %>