<%- include('includes/header.ejs') %>

<div class="maincontent">
  <div class="maincontent__header">
    <a href="/definicoes" class="maincontent__backarrow"></a>
    <h1>Alterar Perfil</h1>
  </div>

  <form action="/alterarPerfil" method="post">
    <div class="form-group">
      <% if(locals.errors){ 
        var erroNome = errors.find(el=> el.param == 'nome');
      } %>
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome"
        class="form-control <%= erroNome ? 'form-control--invalid': '' %>" size="60"
        value="<%= locals.utilizador ? utilizador.nome : '' %>">
      <% if(erroNome){ %>
        <div class="invalid-feedback">
          <%= erroNome.msg %>
        </div>
      <%} %>
    </div>

    <div class="form-group">
      <% if(locals.errors){ 
        var erroEmail=errors.find(el=> el.param == 'email');
        var unique = errors.find(el => el.param == 'unique');
      } %>
      <label for="email">Email</label>
      <input type="text" name="email" id="email"
        class="form-control <%= erroEmail || unique ? 'form-control--invalid': '' %>" size="60"
        value="<%= locals.utilizador ? utilizador.email : '' %>">
      <% if(erroEmail){ %>
        <div class="invalid-feedback">
          <%= erroEmail.msg %>
        </div>
      <%} else if(unique){ %>
        <div class="invalid-feedback">
          <%= unique.msg %>
        </div>
      <% } %>
    </div>
    <div class="forminput__buttons">
      <input type="submit" value="Alterar" class="btn btn__primary">
      <a href="/definicoes" class="btn btn__secondary">Cancelar</a>
    </div>
  </form>

</div>

<%- include('includes/footer.ejs') %>