<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>DOU - Gestão de Processos</title>
</head>
<body class="login__page">
    <div class="login__wrapper">
        <div class="login__container">
            <div class="login__logo">
                <div class="logo">
                    <svg viewBox="0 0 20 20" class="login-icon" height="42" width="42" focusable="false" role="img" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="StyledIconBase-ea9ulj-0 duvCfz">
                        <path d="M14 14.6c-.967 0-1.796.576-2.176 1.4H8.5A1.5 1.5 0 017 14.5v-3.85c.456.218.961.35 1.5.35h3.324a2.396 2.396 0 004.576-1 2.397 2.397 0 00-4.576-1H8.5A1.5 1.5 0 017 7.5V5.176A2.396 2.396 0 006 .6a2.397 2.397 0 00-1 4.576V14.5A3.5 3.5 0 008.5 18h3.324a2.396 2.396 0 004.576-1 2.4 2.4 0 00-2.4-2.4zm0-5.985a1.384 1.384 0 110 2.768 1.384 1.384 0 010-2.768zm-8-7a1.384 1.384 0 110 2.768 1.384 1.384 0 010-2.768zm8 16.77a1.385 1.385 0 110-2.77 1.385 1.385 0 010 2.77z"></path>
                    </svg>
                </div>
            </div>
            <div class="login__form">
                <h2>DOU - Gestão de Processos</h2>
                <form action="/login" method="post">
                    <div class="form-group">
                        <% if(locals.errors){ 
                            var erroEmail=errors.find(el=> el.param == 'email');
                        } %>
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control <%= erroEmail || error.length > 0 ? 'form-control--invalid': '' %>" size="40">
                        <% if(erroEmail){ %>
                            <div class="invalid-feedback">
                                <%= erroEmail.msg %>
                            </div>
                        <%} %>
                    </div>
                    <div class="form-group">
                        <% if(locals.errors){ 
                            var erroPassword=errors.find(el=> el.param == 'password');
                        } %>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control <%= erroPassword || error.length > 0 ? 'form-control--invalid': '' %>" size="40">
                        <% if(erroPassword){ %>
                            <div class="invalid-feedback">
                                <%= erroPassword.msg %>
                            </div>
                        <% } else if(error.length > 0) { %>
                            <div class="invalid-feedback">
                                <%= error %>
                            </div>
                        <% } %>
                        <a href="/login/recuperarpassword" class="login__passwordrecovery">Recuperar password</a>
                    </div>
                    <div class="forminput__buttons mt-50">
                        <input type="submit" value="Entrar" class="btn btn__primary">
                        <a href="/registar" class="btn btn__secondary">Registar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>